

.accent {
    color: var(--accent);
    /* font-weight: bold; */
}

.italic {
    font-style: italic;
}

.strong {
    font-weight: 400;
}

.bold {
    font-weight: bold;
}

img.inline_logo {
    width: 1.3rem;
    position: relative;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */
    display: inline-block;
    vertical-align: middle;
    bottom: 0.2rem;
}

span.separator {
    display: inline-block;
    /* color: var(--gray); */
    border-right: 1px solid;
    margin: 0rem 0.2rem;
    position: relative;
    top: 0.3rem;
    height: 1.5rem;
}

.hidden_text {
    /* opacity: 0; */
    overflow: hidden;
    padding-top: 0rem;
    /* margin-bottom: 0rem; */
    transition: height .5s, padding-top .5s, margin-bottom .5s;
    height: 0;
}

.hidden_text.show {
    padding-top: 1rem;
    /* margin-bottom: -2rem; */
    transition: height .5s, padding-top .5s, margin-bottom .5s;
}

a.button.learn_more {
    text-align: center;
}

ul.actions.learn_more_wrapper {
    margin: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#my_philosophy p {
    font-size: 1.1em;
}

.profile_image img {
    /* border: 10px solid gray; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    width: 15rem;
}
